<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5 mx-auto">
      <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
      <div class="row">
        <div class="col-3">
          <p>会員ID</p>
          <p>氏名</p>
          <p>フリガナ</p>
          <p>郵便番号</p>
          <p>住所</p>
          <p>電話番号</p>
          <p>メールアドレス</p>
          <p>会員ステータス</p>
        </div>
        <div class="col-7">
          <p><%= @customer.id %></p>
          <p><%= @customer.last_name %>　<%= @customer.first_name %></p>
          <p><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></p>
          <p><%= @customer.post_code %></p>
          <p><%= @customer.address %></p>
          <p><%= @customer.telephone_number %></p>
          <p><%= @customer.email %></p>
          <p>
            <% if @customer.is_deleted == false %>
              <b class="text-success">有効</b>
            <% else %>
              <b class="text-black-50">退会</b>
            <% end %>
          </p>
          <div class="d-flex">
            <div class="mr-5"><%= link_to "編集する", edit_admin_customer_path(@customer), class:'btn btn-success' %></div>
            <%= link_to "注文一覧履歴を見る",  admin_customer_customer_index_path(@customer.id), class:'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
