<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5 mx-auto">
      <h2>注文履歴詳細</h2>
    </div>
    <div class="col-md-11 mt-2 mx-auto">
      <div class="row">
        <div class="col-2">
          <p>購入者</p>
          <p>注文日</p>
          <p>配送先</p>
          <br>
          <p>支払方法</p>
          <p>注文ステータス</p>
        </div>
        <div class="col-8">
          <p><%= @order.customer.last_name %>　<%= @order.customer.first_name %></p>
          <p><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          <p>
            〒<%= @order.send_post_code %> <%= @order.send_address %><br>
            <%= @order.send_name %>
          </p>
          <p><%= @order.pay_method_i18n %></p>
          <p>
            <%= form_with model: @order, url: admin_order_path do |f| %>
              <div class="d-flex">
                <div class="form-group mr-3">
                  <%= f.select :status, Order.statuses_i18n.invert %>
                </div>
                <div class="form-group">
                  <%= f.submit "更新", class:'btn btn-success' %>
                </div>
              </div>
            <% end %>
          </p>
        </div>
        <div class="d-flex">
          <%= form_with model: @order_items, url: admin_order_item_path(@order.order_items), method: :patch do |f| %>
            <table class="table mt-2 mr-4 mb-1 border-bottom">
              <thead>
                <tr>
                  <th>商品名</th>
                  <th>単価（税込）</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @order.order_items.each do |item| %>
                  <tr>
                    <td><%= item.item.name %></td>
                    <td><%= item.item.tax_price %></td>
                    <td><%= item.quantity %></td>
                    <td><%= (item.item.tax_price * item.quantity).to_s(:delimited) %></td>
                    <td>
                      <%= f.select :production_status, OrderItem.production_statuses_i18n.invert %>
                    </td>
                    <td>
                      <%= f.submit "更新", class: 'btn btn-success' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <!--右に各種金額-->
          <div class="d-flex align-items-end">
            <div class="row">
              <div class="col-7">
                <p>商品合計</p>
                <p>送料</p>
                <p>請求金額合計</p>
              </div>
              <div class="col-5">
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
