
<div class="container">
    <h2>ジャンル一覧・追加</h2>
    <div class="row">
        <%= form_with model:@genre, local:true do |f| %>
         <table>
            <td>
              <div class="form-group">
                 <%= f.label :name, "ジャンル名" %>
              <%= f.text_field :name, class: 'form-control' %>
              </div>
            </td>
            <td>
              <div class="form-group">
              <%= f.submit "新規登録", class: 'btn btn-success'%>
              </div>
            </td>
         </table>
        <%end%>
    </div>
    
    <div class="row">
        <div class="col-3">
            <%= render 'genres', genres: @genres %>
        </div>
    </div>
</div>
