<div class="container">
    <h2>配送先登録/一覧</h2>
    <div class="row">
        <div class="col-8">
        <%= form_with model: @address, local: true do |f| %>
        <table>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <tr class="form-group">
                <td><%= label :post_code,"郵便番号(ハイフンなし)" %></td>
                <td><%= f.text_field :post_code, class:"form-control" %></td>
            </tr>
            <tr class="form-group">
              <td><%= label :location,"住所" %></td>
              <td><%= f.text_field :location, class:"form-control" %></td>  
            </tr>
            <tr class="form-group">
               <td><%= label :name,"宛名" %></td>
                  <td><%= f.text_field :name, class:"form-control" %></td> 
                <td>
                   <%= f.submit "新規登録", class: 'btn btn-success'%>
                </td>
            </tr>
        </table>
        <%end%>
        </div>

    </div>
    <div class="row">
        <table>
            <thead>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th colspan="2"></th>
            </thead>
            <tbody>
                <% @addresses.each do |address| %>
                <tr>
                    <td><%= address.post_code %></td>
                    <td><%= address.location %></td>
                    <td><%= address.name %></td>
                    <td>
                        <%= link_to "編集する", edit_address_path(current_customer), class:"btn btn-success" %>
                    </td>
                    <td><%= link_to "削除する", address, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>