<div class="container">
    <h2>配送先登録/一覧</h2>
    <div class="row">
        <div class="col-8">
        <%= form_with medel:@address, local: true do |f| %>
        <table>
            <tr>
                <td><%= label :post_code,"郵便番号(ハイフンなし)" %></td>
                <td><%= f.text_field :post_code, class:"form-control" %></td>
            </tr>
            <tr>
                <td><%= label :address,"住所" %></td>
                <td><%= f.text_field :address, class:"form-control" %></td>
            </tr>
            <tr>
                <td><%= label :name,"宛名" %></td>
                <td><%= f.text_field :name, class:"form-control" %></td>
                <td colspan="2"></td>
                <td>
                    <%= f.submit "新規登録", class: 'btn btn-success' %>
                </td>
            </tr>
        </table>
        <%end%>
        </div>

    </div>
    <div class="row">
        <table>
            <thead>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th colspan="2"></th>
            </thead>
            <tbody>
                <% @customers.each do |customer| %>
                <tr>
                    <td><%= label customer.post_code %></td>
                    <td><%= label customer.address %></td>
                    <td><%= label customer.name %></td>
                    <td>
                        <%= link_to "編集する", edit_address_path(customer), class:"btn btn-success" %>
                    </td>
                    <td><%= link_to "削除する", customer, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>