<div class="d-flex">
  <h1>商品一覧</h1><h4 class="mt-3">（全<%= @items.count %>件）</h4>
</div>
<% @items.each do |item| %>
  <div class="item">
    <%= link_to(item_path(item)) do %>
      <%= image_tag item.get_image, size: '162x100' %>
    <% end %>
    <div><%= item.name %></div>
    <div>¥<%= item.tax_price.to_s(:delimited) %></div>
  </div>
<% end %>
<%= paginate @items %>
